{% extends "index.html" %}
{% load static %}

{% block title %}Landing{% endblock %}

{% block content %}
<div class="content">
	<!-- <div class="terminal-pointer"></div> -->
	<span class="material-symbols-outlined">navigate_next</span>
	<input type="text" class="form-field" id="search-bar" placeholder="Name, Location, Year">
	<ul class="buttons">
		<li><a href="{% url "core:database" %}">Database</a></li>
		<li><a href="{% url "core:analytics" %}">Analytics</a></li>
		<li><a href="{% url "core:map" %}">Choropleth</a></li>
		<li><a href="{% url "core:about" %}">About</a></li>
	</ul>

	<div class="nav">
	</div>
	<!-- <div class="buttons"> -->
	<!-- 	<button type="button" class="form-field landing-btn">Database</button> -->
	<!-- 	<button type="button" class="form-field landing-btn">Analytics</button> -->
	<!-- 	<button type="button"class="form-field landing-btn">Map</button> -->
	<!-- </div> -->
</div>
{% endblock %}
