:root {
	--black: #0a0a0a;
	/* --black: #0D0D0D; */
	--darkgrey: #121212;
	--greengrey: #303c3c;
	/* --white: #d3d7cf; */
	--white: #f3f6fb;
	--red: #ff0044;
	--orange: #ff9f00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
	overflow-x: hidden;
}

input {
	color: var(--white);
	font-weight: bold;
	text-transform: uppercase;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	background: var(--black);
	color: var(--white);
}

.go-back-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--black);
	padding: .15em .8em;
	font-weight: bold;
	border-radius: .5px;
	border: none;
}

.material-symbols-outlined {
	position: absolute;
	top: 1.2em;
	left: 1.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* ##################################################################### */
/* LANDING PAGE */
/* ##################################################################### */
.content {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* display: block; */
	/* border: 1px solid red; */
	padding: 1em;
}

.form-field {
	background: none;
	/* border: none; */
	border-radius: .5px;
	border: 1px solid var(--white);
}

.material-symbols-outlined {
	position: relative;
	/* top: 37px; */
	/* left: 10px; */
}

#search-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	display: block;
	width: 600px;
	height: 40px;
	margin-bottom: .5em;
	/* border-bottom: 2px solid var(--white); */
	padding-left: 2.7em;
	background: var(--black);
}

#search-bar:focus {
	outline: none;
 	/* animation: blink 1s step-end infinite; */
  /* border-bottom: 2px solid white; */
	/* caret-style: block; */
}






/* NOTIFICATIONS */
/* ##################################################################### */
.notifications {
  position: fixed;
  bottom: 1.2em;
  right: 1.7em;
}
.notifications :where(.notif, .column) {
  display: flex;
  align-items: center;
}

.notifications .notif {
  /* width: 400px; */
  width: 100%;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 1px;
  padding: .8em .8em .8em 1.5em;
  margin-bottom: .5em;
  background: var(--red);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
	text-transform: uppercase;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before, .btn#success {
  background: var(--success);
}
.toast.error::before, .btn#error {
  background: var(--error);
}
.toast.warning::before, .btn#warning {
  background: var(--warning);
}
.toast.info::before, .btn#info {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}
.buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}



















/* ##################################################################### */
/* ABOUT PAGE */
/* ##################################################################### */
.about-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid red; */
	/* display: grid; */
	/* justify-content: center; */
	/* align-items: center; */
}

.about-content p {
	text-transform: uppercase;
	margin-bottom: 2em;
}

.sources li {
	list-style-type: none;
}

.sources li a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--red);
}

.sources li a:hover {
	font-style: bold;
	text-decoration: underline;
}


/* ##################################################################### */
/* DATABASE PAGE */
/* ##################################################################### */
.database-content {
	margin-top: 3em;
	padding-left: 9em;
	padding-right: 5em;
	width: 100%;
	height: 90vh;
}

.compiled-profile-database {
	display: block;
	/* display: grid; */
	overflow: auto;
	height: 100%;
	padding: 0;
}

.database-content::-webkit-scrollbar, .compiled-profile-database::-webkit-scrollbar {
	display: none;
}

#table-body {
 width: 100%;
 height: 100%;
 overflow: hidden;
}

#profile-entry-header button, .profile-entry .profile-entry-details {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}

#profile-entry-header {
	display: grid;
	grid-template-columns: .4fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	color: var(--black);
	border-bottom: 1px solid var(--black);
	margin-left: .01em;
	padding: .1em;
}

.table-column {
	border: .2px solid var(--darkgrey);
	padding: .5em 0 .5em 1em;
}

.caret {
	margin-left: .7em;
}

.profile-entry-link {
	display: grid;
	grid-template-columns: .4fr 1fr 1fr 1fr 1fr 1fr 1fr;
	cursor: pointer;
}

.profile-entry {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-columns: .4fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--white);
	background-color: #1f1f1f;
	font-size: 14px;
	border: .2px solid var(--darkgrey);
	padding: 0;
}

.profile-entry:nth-child(even) {
	background-color: #252525;
}

.profile-entry:hover td {
	background-color: rgba(243,246,251,.85);
	color: var(--black);
}

.table-column, .profile-entry-details {
	padding-left: .5em;
	padding-right: 2em;
}

.profile-entry-details {
	border-left: .1px solid var(--darkgrey);
	border-right: .1px solid var(--darkgrey);
	padding: .7em;
	color: var(--white);
}

.status-value {
	color: var(--red);
}
