:root {
	--black: #0a0a0a;
	/* --black: #0D0D0D; */
	--darkgrey: #121212;
	--greengrey: #303c3c;
	/* --white: #d3d7cf; */
	--white: #f3f6fb;
	--red: #ff0044;
	--orange: #ff9f00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;
}

input {
	color: var(--white);
	font-weight: bold;
	text-transform: uppercase;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	background: var(--black);
	color: var(--white);
}

.go-back-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--black);
	padding: .15em .8em;
	font-weight: bold;
	border-radius: .5px;
	border: none;
}

.material-symbols-outlined {
	position: absolute;
	top: 1.2em;
	left: 1.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* ##################################################################### */
/* LANDING PAGE */
/* ##################################################################### */
.content {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* display: block; */
	/* border: 1px solid red; */
	padding: 1em;
}

.form-field {
	background: none;
	/* border: none; */
	border-radius: .5px;
	border: 1px solid var(--white);
}

.material-symbols-outlined {
	position: relative;
	/* top: 37px; */
	/* left: 10px; */
}

#search-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	display: block;
	width: 600px;
	height: 40px;
	margin-bottom: .5em;
	/* border-bottom: 2px solid var(--white); */
	padding-left: 2.7em;
	background: var(--black);
}

#search-bar:focus {
	outline: none;
 	/* animation: blink 1s step-end infinite; */
  /* border-bottom: 2px solid white; */
	/* caret-style: block; */
}




/* ##################################################################### */
/* ABOUT PAGE */
/* ##################################################################### */
.about-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid red; */
	/* display: grid; */
	/* justify-content: center; */
	/* align-items: center; */
}

.about-content p {
	text-transform: uppercase;
	margin-bottom: 2em;
}

.sources li {
	list-style-type: none;
}

.sources li a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--red);
}

.sources li a:hover {
	font-style: bold;
	text-decoration: underline;
}

/* ##################################################################### */
/* DATABASE PAGE */
/* ##################################################################### */
.compiled-profile-database {
	margin-top: 3em;
	padding-left: 10em;
	width: 100%;
}

.compiled-profile-database #profile-entry-header p, .profile-entry .profile-entry-details {
	text-transform: uppercase;
	font-weight: bold;
	/* font-size: 13px; */
}

#profile-entry-header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: var(--white);
	color: var(--black);
	padding: 0.3em 5em;
	border-bottom: 1px solid var(--black);
}

.profile-entry {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: .5em 5em;
	background-color: #1f1f1f;
	font-size: 14px;
}

.profile-entry:nth-child(2n) {
	background-color: #252525;
}

.profile-entry:hover {
	background-color: rgba(243,246,251,.85);
	color: var(--black);
}

.status-value {
	color: var(--red);
}
