.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 7%;
	height: 100%;
	/* background-color: pink; */
}

.navigation-list {
	position: absolute;
	bottom: 2em;
	left: 1.7em;
}

.navigation-buttons {
	display: grid;
	grid-template-columns: 1fr;
	list-style-type: none;
}

.navigation-buttons li {
	background: var(--white);
	margin-top: 1px;
	margin-bottom: 1px;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 25px;
}

a:-webkit-any-link {
	color: var(--black);
	text-decoration: none;
}

.navlink-btn {
	text-transform: uppercase;
	text-decoration: none;
	/* font-weight: bold; */
	font-size: 15px;
	color: var(--black);
	padding-left: .5em;
	padding-right: .5em;
}

.navigation-buttons li:hover {
	opacity: 0.8;
	/* background: var(--white); */
}
