.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100%;
}

.navigation-list {
	position: absolute;
	bottom: 2em;
	left: 1.7em;
}

.navigation-buttons {
	display: grid;
	grid-template-columns: 1fr;
	list-style-type: none;
}

.navigation-buttons li {
	background: var(--darkgrey);
	opacity: 0.65;
	margin-top: 1px;
	margin-bottom: 1px;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 25px;
}

a:-webkit-any-link {
	color: var(--white);
	text-decoration: none;
}

.navlink-btn {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	padding-left: .5em;
	padding-right: .5em;
}

.navigation-buttons li:hover {
	opacity: 1;
}
